.fundo-site{
    margin-top: 0;
    background: #d2d2c1;
    font: 16px arial, helvetica, sans-serif;
}

.fundo-site{
    background-image: url(../imgens-site/fundo.png);
}

#principal{
    width: 900px;
}

#menu{
    background: #c5c5b2;
    padding:18px ;
}

#menu a{
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
    padding: 5px;
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;
}

.rodape{
    text-align: center; 
}

h1{
    color: #828271;
    font-size: 1.2em;
}

.img-campanha{
    border: 10px solid #c3c3ae;
    margin-left: 100px;
}
.div-contato{
    margin-top: 10px;
}